################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TelerikAcademyASPNETWebApp/.vs
/TelerikAcademyASPNETWebApp/packages/Antlr.3.4.1.9004
/TelerikAcademyASPNETWebApp/packages/Microsoft.ApplicationInsights.2.2.0/lib
/TelerikAcademyASPNETWebApp/packages/Microsoft.ApplicationInsights.2.2.0
/TelerikAcademyASPNETWebApp/TelerikAcademyASPNETWebApp/bin
/TelerikAcademyASPNETWebApp/TelerikAcademyASPNETWebApp/obj/Debug
/TelerikAcademyASPNETWebApp/packages
/TelerikAcademyASPNETWebApp/TelerikAcademyASPNETWebApp.Tests/bin/Debug
/TelerikAcademyASPNETWebApp/TelerikAcademyASPNETWebApp.Tests/obj/Debug
/TelerikAcademyASPNETWebApp/TelerikAcademyASPNETWebApp.Database/bin/Debug
/TelerikAcademyASPNETWebApp/TelerikAcademyASPNETWebApp.Database/obj/Debug
/TelerikAcademyASPNETWebApp/TelerikAcademyASPNETWebApp/_bin_deployableAssemblies
/TelerikAcademyASPNETWebApp/TelerikAcademyASPNETWebApp.Account/bin/Debug
/TelerikAcademyASPNETWebApp/TelerikAcademyASPNETWebApp.Account/obj/Debug
